

.macro-ref-overview
{
    width : 80%;
    border : solid thin blue;
    margin : 1em;
    padding : 1em;
}
.macro-ref-overview a
{
    text-decoration : none;
}
.language-syntax-keyword
{
    font-weight : bolder;
}
.language-syntax-comment
{
    font-style : italic;
}
.language-syntax-string
{
    font-style : italic;
}
.language-syntax-language
{
    color : black;
    font-weight : bolder;
}
